In [46]:
import pandas as pd
import matplotlib.pyplot as plt

In [47]:
data = pd.read_csv("application_data.csv")
data.head(10)

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate
0,839247458,302953235622,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-16
1,217540860,302960101337,2018-12-23,1,7500.0,30.0,30,2019-01-22,2018-12-29
2,522238092,303016988846,2019-01-08,1,7500.0,30.0,30,2019-02-07,2019-01-08
3,096754469,302999605504,2019-01-04,1,7500.0,30.0,30,2019-02-03,2019-01-08
4,410354345,302951945878,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-17
5,027610141,302955854172,2018-12-22,6,45000.0,10.0,90,2019-03-21,2019-01-09
6,390748423,302941689535,2018-12-19,4,90000.0,5.0,180,2019-06-18,2019-01-15
7,642947351,302945727970,2018-12-19,3,45000.0,10.0,90,2019-03-19,2019-01-16
8,227382168,302953081988,2018-12-21,4,45000.0,10.0,90,2019-03-20,2019-01-16
9,380684555,302997991362,2019-01-03,4,30000.0,10.0,90,2019-04-02,2019-01-11

In [48]:
data.describe(include = ["O"])

,customerID,loanId,appilcationDate,repaymentDueDate,repaymentPaidDate
count,1000,1000,1000,1000,1000
unique,985,1000,254,302,263
top,686128144,302963725758,2018-12-19,2019-01-26,2019-01-16
freq,4,1,47,18,45

In [49]:
data[data.appilcationDate == "2018-12-19"]

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate
6,390748423,302941689535,2018-12-19,4,90000.0,5.0,180,2019-06-18,2019-01-15
7,642947351,302945727970,2018-12-19,3,45000.0,10.0,90,2019-03-19,2019-01-16
12,779403451,302941503245,2018-12-19,4,59500.0,7.5,180,2019-06-18,2019-01-16
13,706745423,302942096687,2018-12-19,1,32000.0,7.5,180,2019-06-18,2019-01-04
15,756846529,302943137882,2018-12-19,7,16000.0,20.0,60,2019-02-18,2018-12-21
25,826509061,302945064516,2018-12-19,1,11000.0,27.0,45,2019-02-02,2019-01-09
35,022592236,302943908941,2018-12-19,1,11000.0,27.0,45,2019-02-02,2018-12-24
41,812336627,302943840259,2018-12-19,1,11000.0,27.0,45,2019-02-02,2018-12-24
49,733776995,302944273002,2018-12-19,2,18500.0,20.0,60,2019-02-18,2019-01-16
58,290362283,302941752483,2018-12-19,2,12500.0,20.0,30,2019-01-18,2018-12-21
65,957474880,302941611556,2018-12-19,3,20000.0,20.0,60,2019-02-18,2019-01-15
67,119364125,302944804697,2018-12-19,2,20000.0,20.0,60,2019-02-18,2018-12-24
74,281227350,302945265296,2018-12-19,3,20000.0,20.0,60,2019-02-18,2019-01-15
85,417120772,302944542534,2018-12-19,18,30000.0,10.0,90,2019-03-18,2019-01-17
92,290120121,302942188996,2018-12-19,1,10000.0,30.0,30,2019-01-18,2019-01-15
94,131274940,302944576397,2018-12-19,2,10000.0,30.0,30,2019-01-18,2019-01-09
100,344366145,302944152649,2018-12-19,1,10000.0,30.0,30,2019-01-18,2018-12-24
104,648942156,302944453792,2018-12-19,1,10000.0,30.0,30,2019-01-18,2019-01-15
133,484774356,302943412009,2018-12-19,3,10000.0,15.0,30,2019-01-18,2018-12-26
155,014359574,302942244284,2018-12-19,3,16000.0,12.5,60,2019-02-18,2019-01-17
168,482349166,302944541879,2018-12-19,1,10000.0,36.0,45,2019-02-02,2019-01-11
194,215022887,302942751460,2018-12-19,3,25000.0,15.0,60,2019-02-18,2019-01-15
200,906599572,302942264217,2018-12-19,10,100000.0,5.0,180,2019-06-18,2019-01-10
206,034723065,302942895073,2018-12-19,1,10000.0,27.0,45,2019-02-02,2018-12-20
217,779876788,302941745484,2018-12-19,11,18000.0,15.0,60,2019-02-18,2018-12-28
220,507499474,302943388045,2018-12-19,4,22000.0,12.5,60,2019-02-18,2019-01-17
229,804242944,302944687999,2018-12-19,5,8500.0,20.0,30,2019-01-18,2019-01-02
284,580559296,302944213741,2018-12-19,2,23000.0,12.5,60,2019-02-18,2019-01-16
285,996484488,302944030934,2018-12-19,2,23000.0,12.5,60,2019-02-18,2019-01-04
288,270655037,302941770088,2018-12-19,4,45000.0,7.5,180,2019-06-18,2019-01-14
310,880573892,302941517464,2018-12-19,4,45000.0,10.0,90,2019-03-18,2019-01-16
312,132915741,302943406302,2018-12-19,6,39500.0,10.0,90,2019-03-18,2019-01-07
325,518233685,302943636025,2018-12-19,1,11000.0,20.1,30,2019-01-18,2019-01-15
328,347033535,302942194981,2018-12-19,1,11500.0,15.0,30,2019-01-18,2019-01-03
332,740686093,302942697065,2018-12-19,2,15000.0,15.0,30,2019-01-18,2018-12-29
344,826732708,302943744853,2018-12-19,4,34500.0,12.5,90,2019-03-18,2019-01-15
346,231927458,302944694344,2018-12-19,4,34500.0,12.5,90,2019-03-18,2019-01-17
355,857418465,302942525895,2018-12-19,1,103000.0,12.0,120,2019-04-18,2019-01-17
366,163360499,302943016249,2018-12-19,4,166000.0,5.0,180,2019-06-18,2019-01-16
370,236783014,302942920288,2018-12-19,10,100000.0,5.0,180,2019-06-18,2019-01-13
374,160148592,302943207679,2018-12-19,3,32000.0,12.5,90,2019-03-18,2019-01-17
375,022149753,302941896294,2018-12-19,4,40000.0,7.5,180,2019-06-18,2019-01-12
379,734399021,302943017796,2018-12-19,3,23000.0,12.5,90,2019-03-18,2018-12-24
380,996002932,302944782625,2018-12-19,6,23000.0,12.5,90,2019-03-18,2019-01-16
383,823297150,302941941869,2018-12-19,5,75500.0,5.0,180,2019-06-18,2019-01-17
384,170457915,302942134100,2018-12-19,4,39500.0,7.5,180,2019-06-18,2019-01-17
386,192286872,302943070310,2018-12-19,9,98000.0,5.0,180,2019-06-18,2018-12-20

In [50]:
# max_num = data.LoanNumber.max()
person = data[data.loanId  ==  "302986284868" ]
person

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate
231,407415399,302986284868,2018-12-31,26,34000.0,10.0,60,2019-02-28,2019-01-12

In [51]:
# convert applicationdate, repaymentDuedate and repaymentpaiddate in the dateframes to datetimes

data["appilcationDate"] = pd.to_datetime(data["appilcationDate"])
data["repaymentDueDate"] = pd.to_datetime(data["repaymentDueDate"])
data["repaymentPaidDate"] = pd.to_datetime(data["repaymentPaidDate"])
data.head()

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate
0,839247458,302953235622,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-16
1,217540860,302960101337,2018-12-23,1,7500.0,30.0,30,2019-01-22,2018-12-29
2,522238092,303016988846,2019-01-08,1,7500.0,30.0,30,2019-02-07,2019-01-08
3,096754469,302999605504,2019-01-04,1,7500.0,30.0,30,2019-02-03,2019-01-08
4,410354345,302951945878,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-17

In [52]:
# data.info()

In [53]:
interest_rate = data.InterestRate
mean_interest = round(interest_rate.mean(), 2)

term_days = data.TermDays
mean_days = round(term_days.mean(), 2)

print(mean_interest)
print(mean_days)

23.06
42.08

In [54]:
data['dateDifference'] = data['repaymentPaidDate'] - data['repaymentDueDate']
data

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate,dateDifference
0,839247458,302953235622,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-16,-4 days
1,217540860,302960101337,2018-12-23,1,7500.0,30.0,30,2019-01-22,2018-12-29,-24 days
2,522238092,303016988846,2019-01-08,1,7500.0,30.0,30,2019-02-07,2019-01-08,-30 days
3,096754469,302999605504,2019-01-04,1,7500.0,30.0,30,2019-02-03,2019-01-08,-26 days
4,410354345,302951945878,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-17,-3 days
5,027610141,302955854172,2018-12-22,6,45000.0,10.0,90,2019-03-21,2019-01-09,-71 days
6,390748423,302941689535,2018-12-19,4,90000.0,5.0,180,2019-06-18,2019-01-15,-154 days
7,642947351,302945727970,2018-12-19,3,45000.0,10.0,90,2019-03-19,2019-01-16,-62 days
8,227382168,302953081988,2018-12-21,4,45000.0,10.0,90,2019-03-20,2019-01-16,-63 days
9,380684555,302997991362,2019-01-03,4,30000.0,10.0,90,2019-04-02,2019-01-11,-81 days
10,538656471,302906015723,2018-12-10,1,13500.0,18.0,45,2019-01-24,2019-01-07,-17 days
11,067501201,302955909012,2018-12-22,4,19000.0,15.0,60,2019-02-21,2019-01-14,-38 days
12,779403451,302941503245,2018-12-19,4,59500.0,7.5,180,2019-06-18,2019-01-16,-153 days
13,706745423,302942096687,2018-12-19,1,32000.0,7.5,180,2019-06-18,2019-01-04,-165 days
14,175032099,302948765318,2018-12-20,1,8000.0,36.0,45,2019-02-03,2018-12-23,-42 days
15,756846529,302943137882,2018-12-19,7,16000.0,20.0,60,2019-02-18,2018-12-21,-59 days
16,910833430,302985391002,2018-12-31,1,40500.0,12.0,120,2019-04-30,2019-01-04,-116 days
17,789366247,302966696659,2018-12-25,7,9500.0,20.0,30,2019-01-24,2018-12-30,-25 days
18,946771596,302919159103,2018-12-12,1,11000.0,27.0,45,2019-01-26,2018-12-15,-42 days
19,363467351,302977645174,2018-12-28,1,11000.0,27.0,45,2019-02-11,2019-01-08,-34 days
20,380721416,302935257840,2018-12-17,2,11000.0,27.0,45,2019-01-31,2019-01-06,-25 days
21,476331961,302987067485,2018-12-31,1,11000.0,27.0,45,2019-02-14,2019-01-10,-35 days
22,098589528,302933833928,2018-12-16,1,11000.0,27.0,45,2019-01-31,2018-12-19,-43 days
23,063431769,302918179987,2018-12-12,1,11000.0,27.0,45,2019-01-26,2018-12-28,-29 days
24,021449557,302982821720,2018-12-30,1,11000.0,27.0,45,2019-02-13,2019-01-07,-37 days
25,826509061,302945064516,2018-12-19,1,11000.0,27.0,45,2019-02-02,2019-01-09,-24 days
26,153423083,303028288661,2019-01-10,1,11000.0,27.0,45,2019-02-24,2019-01-10,-45 days
27,369040052,302980904801,2018-12-29,1,11000.0,27.0,45,2019-02-12,2019-01-10,-33 days
28,301885486,302990564127,2019-01-01,2,11000.0,27.0,45,2019-02-15,2019-01-04,-42 days
29,134429368,302929098418,2018-12-15,1,11000.0,27.0,45,2019-01-29,2019-01-03,-26 days
...,...,...,...,...,...,...,...,...,...,...
970,012739639,301845465315,2018-06-03,5,7500.0,30.0,30,2018-07-03,2018-07-02,-1 days
971,112612912,302707674,2018-01-29,3,7500.0,30.0,30,2018-02-28,2018-02-10,-18 days
972,570857620,302918637,2018-03-14,2,7500.0,30.0,30,2018-04-13,2018-04-13,0 days
973,237077059,302447948799,2018-09-23,2,7500.0,30.0,30,2018-10-23,2018-10-23,0 days
974,981768947,301943354289,2018-06-22,2,7500.0,30.0,30,2018-07-23,2018-07-07,-16 days
975,950533500,302651153,2018-01-18,2,7500.0,30.0,30,2018-02-17,2018-02-17,0 days
976,391025217,302607817,2018-01-08,1,7500.0,30.0,30,2018-02-08,2018-02-09,1 days
977,712496621,302515996811,2018-10-04,1,7500.0,30.0,30,2018-11-03,2018-10-17,-17 days
978,189301655,302565959911,2018-10-13,2,7500.0,30.0,30,2018-11-12,2018-11-20,8 days
979,774788130,303200438,2018-05-09,6,7500.0,30.0,30,2018-06-08,2018-05-30,-9 days
980,874756930,302885631,2018-03-07,2,7500.0,30.0,30,2018-04-06,2018-04-17,11 days
981,706415844,302867467601,2018-12-03,7,7500.0,30.0,30,2019-01-02,2018-12-30,-3 days
982,620183677,302591220,2018-01-04,2,7500.0,30.0,30,2018-02-03,2018-02-03,0 days
983,351491824,302607848,2018-01-08,1,7500.0,30.0,30,2018-02-09,2018-05-09,89 days
984,913548727,302710986,2018-01-30,1,7500.0,30.0,30,2018-03-01,2018-02-19,-10 days
985,238919660,302923409,2018-03-14,3,7500.0,30.0,30,2018-04-14,2018-04-13,-1 days
986,671136860,302826707789,2018-11-26,2,7500.0,30.0,30,2018-12-27,2018-12-19,-8 days
987,576830620,302856088,2018-03-01,3,7500.0,30.0,30,2018-03-31,2018-07-12,103 days
988,764722086,302931308,2018-03-16,2,7500.0,30.0,30,2018-04-15,2018-04-10,-5 days
989,586613101,302585527,2018-01-03,3,7500.0,30.0,30,2018-02-02,2018-02-04,2 days
990,242227643,301880401914,2018-06-10,2,7500.0,30.0,30,2018-07-10,2018-07-12,2 days
991,078093608,302729421934,2018-11-09,2,7500.0,30.0,30,2018-12-09,2018-11-30,-9 days
992,063243799,302605265,2018-01-08,2,7500.0,30.0,30,2018-02-07,2018-02-06,-1 days
993,704294322,302631540,2018-01-14,1,7500.0,30.0,30,2018-02-13,2018-02-05,-8 days
994,144227648,302582780,2018-01-02,2,7500.0,30.0,30,2018-02-01,2018-02-02,1 days
995,964510149,302636726,2018-01-15,2,7500.0,30.0,30,2018-02-14,2018-01-20,-25 days
996,251997198,302772445,2018-02-13,1,7500.0,30.0,30,2018-03-15,2018-03-14,-1 days
997,899011279,302585439,2018-01-03,3,7500.0,30.0,30,2018-02-02,2018-10-12,252 days
998,648637210,302788322114,2018-11-19,1,7500.0,30.0,30,2018-12-19,2018-12-17,-2 days
999,464788691,302683579,2018-01-24,1,7500.0,30.0,30,2018-02-24,2018-02-11,-13 days

In [57]:
greater_than_3_days = data.dateDifference.dt.days > 3
late_payments = data[greater_than_3_days]
# late_payments
late = len(late_payments)
total = len(data)

In [58]:
percent = (late/total)*100
print(f"{percent}%")

14.499999999999998%